$transparent_white: #ffffff5c;

.login {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../../images/plane.jpg");

    .card {
        background-color: $transparent_white;
        display: flex;
        flex-direction: column;
        min-height: 15rem;
        width: 20rem;
        margin: auto 0;
        position: absolute;
        top: 40%;
        transform: translate(0, -50%);
        padding: 1rem;

        %children {
            margin: 0.8rem 0;
        }

        .username {
            @extend %children;
        }

        .password {
            @extend %children;
        }

        .loginButton {
            @extend %children;
        }

        .text {
            font-weight: 700;
            font-size: 1.5rem;
            color: #265487;
        }
    }
}
